@model IEnumerable<SocialNetwork.Models.ViewModels.ChatViewModel>

@{
    ViewData["Title"] = "Chats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    var firstChat = Model.First();
    <script>window.location.href = '@Url.Action("Details", "Chat", new { id = firstChat.Id })';</script>
}
else
{
    <p>No chats yet</p>
}