@model SocialNetwork.Models.PostModel

@{
    ViewData["Title"] = Model.Title;
}

@await Html.PartialAsync("_PostDetailsPartial", Model)

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>