@model IEnumerable<SocialNetwork.Models.PostModel>

@{
    ViewData["Title"] = "Index";
}
@if (Model.Any())
{
    <div class="flex flex-col gap-16 items-center">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_PostDetailsPartial", item)
        }
    </div>
}
else
{
    <h1>No posts found</h1>
}