@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="border border-black shadow-offset w-full p-6">
    <h1 class="text-5xl mb-8">@ViewData["Title"]</h1>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
        <div class="flex flex-col justify-between gap-2">
            <div class="w-56">
                <label asp-for="Input.OldPassword" class="block text-xl leading-6 text-gray-900"></label>
                <input asp-for="Input.OldPassword" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="Please enter your current password." />
                <span asp-validation-for="Input.OldPassword" class="text-red-500"></span>
            </div>
            <div class="w-56">
                <label asp-for="Input.NewPassword" class="block text-xl leading-6 text-gray-900"></label>
                <input asp-for="Input.NewPassword" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <span asp-validation-for="Input.NewPassword" class="text-red-500"></span>
            </div>
            <div class="w-56">
                <label asp-for="Input.ConfirmPassword" class="block text-xl leading-6 text-gray-900"></label>
                <input asp-for="Input.ConfirmPassword" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
            </div>
        </div>
        <div class="flex justify-start mt-6">
            <button type="submit" class="btn-primary">Update password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}