@page
@model EmailModel
@{
    ViewData["Title"] = "Change Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="border border-black shadow-offset w-full p-6">
    <h1 class="text-5xl mb-8">@ViewData["Title"]</h1>
    <form id="email-form" method="post">
        <div asp-validation-summary="All" class="text-red-500 mb-4"></div>
        <div class="flex flex-col gap-2">
                <div class="w-56">
                    <label asp-for="Email" class="block text-xl leading-6 text-gray-900"></label>
                    <div class="flex justify-between items-center bg-lime-500 rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black">
                        <input asp-for="Email" class="appearance-none w-full bg-transparent placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" disabled />
                        <span class="input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <span asp-validation-for="Email" class="text-red-500"></span>
                </div>
            <div class="w-56">
                <label asp-for="Input.NewEmail" class="block text-xl leading-6 text-gray-900"></label>
                <input asp-for="Input.NewEmail" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" aria-required="true" placeholder="Please enter new email." />
                <span asp-validation-for="Input.NewEmail" class="text-red-500"></span>
            </div>
        </div>
        <div class="flex justify-start mt-6">
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn-primary">Change email</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}