@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="flex flex-col items-center border-black border shadow-offset p-6">
    <form id="account" method="post" class="w-full max-w-md">
        <h2 class="text-3xl mb-8">Log in to your <span class="text-primary">account</span>.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
        <div class="mb-4">
            <label asp-for="Input.Email" class="block text-xl leading-6 text-gray-900"></label>
            <input asp-for="Input.Email" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-red-500"></span>
        </div>
        <div class="mb-4">
            <label asp-for="Input.Password" class="block text-xl leading-6 text-gray-900"></label>
            <input asp-for="Input.Password" class="appearance-none block w-full bg-white rounded p-2 text-gray-900 shadow-offset ring-1 ring-inset ring-black placeholder:text-gray-400 focus-visible:outline-none sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-red-500"></span>
        </div>
        <div class="mb-4">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button id="login-submit" type="submit" class="w-full py-2 px-4 btn-primary">Log in</button>
        <div class="mt-4">
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-primary">Register as a new user</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}